.prime_color {
  background: #8ec63f; }

a.trans {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

/*

font-size: http://www.modularscale.com/?16&px&1.2&web&text;

*/
body {
  background: #222;
  margin: 0px;
  font-family: 'Roboto';
  font-size: 16px;
  color: #333; }

body > .container {
  position: relative;
  width: 100%; }

body > .container section > .wrapper {
  max-width: 980px;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
  padding: 20px 0px;
  padding-bottom: 60px; }

.slider {
  max-width: 300px;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: -300px;
  z-index: 10;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  background: white; }

.slider .title {
  width: 100%;
  display: block;
  padding: 12px;
  background: #8ec63f;
  color: white;
  padding-bottom: 120px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.slider .back {
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
  font-size: 24px;
  display: inline-block; }

.slider ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

.slider ul li {
  width: 100%;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.slider ul li a {
  display: block;
  padding: 18px 18px; }
  .slider ul li a:hover {
    background: rgba(0, 0, 0, 0.05); }

.action-bar {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: white;
  z-index: 5;
  padding: .833em;
  color: #666;
  font-size: 1.1em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }

.action-bar .logo-container {
  margin-right: 30px; }

.action-bar .logo {
  background-image: url(../images/logo-xsmall.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  vertical-align: middle;
  margin-right: 10px;
  width: 2.3em;
  height: 2.3em;
  display: inline-block; }

.action-bar > ul {
  list-style-type: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  font-weight: 300;
  font-size: .833em; }

.action-bar > ul > li {
  float: left;
  margin: 0px;
  padding: 0px;
  margin-right: 30px; }

.action-bar > ul > li > a {
  padding: 20px 0px; }

.action-bar > ul > li:hover > a {
  color: #8ec63f; }

.action-bar .register {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  background: #689f38;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  padding: 25px 15px;
  font-weight: bold;
  font-size: .8em; }

.tint {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.9); }

section {
  position: relative;
  width: 100%;
  display: block;
  background: white; }

section p {
  line-height: 150%;
  padding: 0px 20px; }

section:not(.color) h1 {
  color: #8ec63f;
  padding: 0px 20px; }

section.color {
  background: #8ec63f;
  color: white; }

section[name="cover"] {
  height: 500px;
  background-image: url(../images/bg-2.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

section[name="footer"] {
  background: #222;
  color: rgba(255, 255, 255, 0.3);
  font-size: 13px; }

section[name="footer"] .wrapper {
  padding-left: 24px !important;
  padding-right: 24px !important; }

section[name="footer"] img {
  vertical-align: middle;
  opacity: .5; }

a.button {
  background: #8ec63f;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 15px 15px 15px 5px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: bold; }

section.color a.button {
  background: white;
  color: #8ec63f; }

table.sched tr td:first-child {
  font-size: 14px;
  color: gray; }

span.title {
  font-size: 36px;
  padding: 50px 20px 0px 20px;
  display: block;
  text-align: center;
  clear: both; }

span.subtitle {
  font-size: 24px;
  padding: 20px;
  display: block;
  text-align: center; }

ul.mechanics li {
  line-height: 170%; }

.faqs-list {
  background: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  position: relative; }

.faqs-list .q {
  float: left;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  background: white; }

.faqs-list .q.color {
  color: white;
  background: #8ec63f; }

.faqs-list .q .expand {
  width: 24px;
  cursor: pointer;
  margin-right: 10px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../images/icons/ic_right_black.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; }

.faqs-list .q .expand.open {
  transform: rotate(90deg); }

.faqs-list .a {
  float: left;
  width: 100%;
  padding: 10px 15px;
  position: relative;
  line-height: 170%;
  word-wrap: break-word;
  display: none; }

a.menu {
  opacity: .6;
  vertical-align: middle;
  cursor: pointer;
  font-size: 24px;
  display: inline-block;
  margin-right: 10px;
  display: none; }

table.dates {
  width: 100%; }

table.dates td {
  padding: 15px; }

table.dates tr td:first-child {
  text-align: right;
  font-weight: bold;
  color: #444; }

table.dates tr td:last-child {
  text-align: left; }

b.cashprize {
  font-size: 60px;
  color: #8ec63f;
  display: block; }

@media only screen and (max-width: 600px) {
  .faqs-list {
    width: 100% !important;
    margin-left: 0px !important;
    border-radius: 0px; } }
@media only screen and (max-width: 480px) {
  section[name="footer"] [class^="col-"] {
    width: 100% !important;
    text-align: center !important;
    padding: 10px 0px; }

  .logo-container {
    margin-right: 0px; }

  section[name="2015"] img {
    width: 100%; }

  section[name="about"] .col-4, section[name="prize"] .col-4 {
    width: 100% !important;
    margin-left: 0px !important;
    padding-bottom: 50px; }

  section[name="about"] .col-4 img {
    width: 40%; } }
@media only screen and (max-width: 385px) {
  .cashprize {
    font-size: 48px !important; } }

/*# sourceMappingURL=style.css.map */
